<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="robots" content="noindex, nofollow">
  <title>{% if meta.title %}{{ meta.title }} | {% endif %}{{ site_title }}</title>
  <link rel="stylesheet" href="{{ theme_url }}/style.css" type="text/css" />
</head>
<body>

<aside class="main-nav">
<nav class="tocbot"></nav>
</aside>

<main class="main-content">
  <nav class="menu">
    <ul>
        {% for page in pages if page.title %}
            {% set pageDepth = page.id|split('/')|length %}
            {% if (pageDepth == 2) and (page.id ends with "/index") or (pageDepth == 1) %}
                <li>
                    <a href="{{ page.url }}">{{ page.title }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
  </nav>
  <article class="article">
    {{ content }}
  </article>
</main>


<script src="{{ theme_url }}/tocbot.min.js"></script>
<link href="{{ theme_url }}/tocbot.min.css" rel="stylesheet">
<script>
var dlall=document.querySelectorAll('h1,h2,h3,h4,h5,h6');  //给标题增加id，配合tocbot
  for(i=0;i<dlall.length;i++){ 
    dlall[i].id='tocbot_'+i;
  }

tocbot.init({
  // 构建目录的容器
  tocSelector: '.tocbot',
  contentSelector: 'article',
  headingSelector: 'h1, h2 ,h3',
  //以下6条代码为跟随滚动功能
  positionFixedSelector: '.tocbot',
  positionFixedClass: 'is-position-fixed',
  fixedSidebarOffset: 'auto',
  scrollSmooth: true,
  scrollSmoothOffset: -80,
  headingsOffset: -500
});
</script>
</body>
</html>
